<form>
    <table>
        <tr>
            <td>
                <label class="required" for="inprogressTextVal">Enter Value :</label>
                <input type="text" id="inprogressTextVal" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="fileToUpload">
                    <input id="fileToUpload" onchange="handleFileInput(event)" type="file" />
                </label>
            </td>
        </tr>
    </table>
</form>