@{
    ViewBag.Title = "About";
}
<div class="column_attr clearfix" style="">
    <h4 class="themecolor">About us</h4>
    <h1>We achieve your goals effectively, efficiently with our range of IT services</h1>
</div>
