@{
    ViewBag.Title = "Contact";
}

<address>
    <div class="column_attr clearfix" style="">
        <h4 class="themecolor">Contact us</h4>
        <h2 style="font-size:30px;line-height:34px;font-weight:300">Kulsys</h2>
        <hr class="no_line" style="margin:0 auto 10px">

        <p>
            A-130, Sector 63, <br>
            Noida, Uttar Pradesh – 201301<br>
            India
        </p>
        <hr class="no_line" style="margin:0 auto 15px">

        <h4>+91-93184-71185</h4>
        <p><a href="#">info@kulsys.com</a></p>
    </div>
</address>